.bottone {
    font-family: "Kanit", SansSerif;
    border: 2px solid #0D0D0D;
    background-color: #C785F2;
    color: #151515;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

}
.bottone:hover {
    background-color: #D5CCD9;
    color: #0D0D0D;
}

.mukInfoFrame {
    background-color: rgba(181, 164, 191, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    border: solid 1px #504759;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgDetail {
    width: 70%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}