.bottone {
    font-family: "Kanit", SansSerif;
    border: 2px solid #0D0D0D;
    background-color: #B5A4BF;
    color: #151515;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

}
.bottone:hover {
    background-color: #D5CCD9;
    color: #0D0D0D;
}

.mukInfoFrame {
    background-color: #B5A4BF;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.imgDetail {
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
}