.appTable {
    background-color: #C785F2;
}
.appTable th {
    font-weight: 600;
    color: #D9C741;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0D0D0D;
}
.appTable td {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C785F2;
}


tr {
    border-bottom: 1px solid #D9C741;
}
.imgTable {
    max-height: 20vh;
    width: auto;
}

.imgTable:hover{
    transform: scale(1.05)
}