.mukFrame {
    background-color: rgba(181, 164, 191, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    border: solid 2px #504759;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mukFrame:first-child{
    justify-content: end;
}

.bottone {
    font-family: 'Rubik', serif;
    font-weight: 450;
    border: 2px solid #504759;
    background-color: #C785F2;
    color: #0D0D0D;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;

}
.bottone:hover {
    background-color: #D5CCD9;
    color: #0D0D0D;
    transition: 0.5s;
}

.mukImg{
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    border-radius: 20px;
}