@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Rubik', serif;
}

p{
  color: #0D0D0D;
  font-family: 'Poppins', serif;
  letter-spacing: .025em;
}

h1, h2, h3{
  color: #D9C741;
}

a:hover {
  color: #8D41D9;
}

a.active {
  color: #8D41D9;
  font-weight: bold;
}

.option {
  background-color: #775499;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #775499;
  color: #0D0D0D;
}
.option:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.option:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.option.active-switch {
  background-color: #C785F2;
  color: #0D0D0D;
  transform: scale(1.05)
}
.option-order-table {
  padding: 5px 10px;
}

strong {
  font-size: 20px;
  font-family: 'Rubik', serif;
}

