.img1{
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: pointer;

}

.img2{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.mukInfoFrame {
    background-color: rgba(181, 164, 191, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    border: solid 1px #504759;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.bottone {
    font-family: "Rubik", serif;
    font-weight: 450;
    border: 2px solid #504759;
    background-color: #C785F2;
    color: #151515;
    border-radius: 10px;
    padding: 5px;
    margin: 1rem 0 2rem 6rem;
    transition: 0.5s;
}
.bottone:hover {
    background-color: #D5CCD9;
    color: #0D0D0D;
}

ul{
    list-style: none;
}

.ulTitle{

}