.mukCard {
    background-color: rgba(199, 133, 242,0.9);
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: 2px solid #D9C741;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mukCard:hover {
    transform: scale(1.1);
}

.setimg{
    max-width: 25px;
    max-height: 25px;
    margin-left: 3px;
}



